.component-container {
  flex: 0 0 auto;
  width: 301px;
  display: flex;
  position: relative;
  align-items: flex-start;
}
.component-container1 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.component-image {
  width: 302px;
  height: 155px;
  object-fit: cover;
}
